mat-toolbar {
  margin-bottom: 10px;
}

mat-table {
  width: 100%;
}

mat-header-cell,
mat-cell {
  padding: 8px;
}

mat-header-cell {
  font-weight: bold;
}

button.add-button {
  min-width: 40px;
  background-color: #7b1fa2;
  margin: 20px;
}

#alumnos-table {
  margin: 20px;
}
