<!-- The template remains unchanged -->
<button class="add-button" mat-icon-button (click)="addNewRow()">
  <mat-icon>add</mat-icon>
</button>

<mat-table
  id="alumnos-table"
  [dataSource]="dataSource"
  class="mat-elevation-z8"
>
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
  </ng-container>

  <!-- Full Name Column -->
  <ng-container matColumnDef="nombreCompleto">
    <mat-header-cell *matHeaderCellDef> Nombre Completo </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.isEditMode; else readOnlyName">
        <input matInput [(ngModel)]="element.nombre" placeholder="Nombre" />
      </ng-container>
      <ng-template #readOnlyName>
        {{ element.nombre }} {{ element.apellidos }}
      </ng-template>
    </mat-cell>
  </ng-container>

  <!-- Gender Column -->
  <ng-container matColumnDef="genero">
    <mat-header-cell *matHeaderCellDef> Género </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.isEditMode; else readOnlyGenero">
        <mat-form-field>
          <mat-select [(ngModel)]="element.genero" placeholder="Género">
            <mat-option *ngFor="let option of generoOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-template #readOnlyGenero>
        {{ element.genero }}
      </ng-template>
    </mat-cell>
  </ng-container>

  <!-- Date of Birth Column -->
  <ng-container matColumnDef="fechaNacimiento">
    <mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.isEditMode; else readOnlyFechaNacimiento">
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="element.fechaNacimiento"
            placeholder="Fecha de Nacimiento"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </ng-container>
      <ng-template #readOnlyFechaNacimiento>
        {{ element.fechaNacimiento | date }}
      </ng-template>
    </mat-cell>
  </ng-container>

  <!-- Edit/Save Button Column -->
  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.isEditMode; else readOnlyButtons">
        <button mat-button (click)="saveRow(element)">Save</button>
      </ng-container>
      <ng-template #readOnlyButtons>
        <button mat-button (click)="editRow(element)">Edit</button>
      </ng-template>
    </mat-cell>
  </ng-container>

  <!-- Delete Button Column -->
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-button color="warn" (click)="deleteRow(element)">
        Delete
      </button>
    </mat-cell>
  </ng-container>

  <!-- Header and Row Definitions -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
